<section class="mb-8">

    <!-- Header -->
    <div class="row align-items-center justify-content-between mb-5">
      <div class="col">
        <h2 class="fs-5 mb-0">Listing</h2>
      </div>
      <div class="col-auto">
        <a class="btn btn-light"> <span class="material-symbols-outlined text-body-secondary me-1">upload</span>
          Action </a>
      </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
      <table class="table align-middle mb-0">
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="avatar rounded text-primary">
                  <i class="fs-4" data-duoicon="id-card"></i>
                </div>
                <div class="ms-4">
                  <div class="fw-normal">invoice.pdf</div>
                  <div class="fs-sm text-body-secondary">1.5mb · PNG</div>
                </div>
              </div>
            </td>
            <td class="text-body-secondary">Uploaded on Mar 01, 2024</td>
            <td style="width: 0">
              <button class="btn btn-sm btn-light">Download</button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="avatar rounded text-primary">
                  <i class="fs-4" data-duoicon="id-card"></i>
                </div>
                <div class="ms-4">
                  <div class="fw-normal">agreement_123.pdf</div>
                  <div class="fs-sm text-body-secondary">3.7mb · PDF</div>
                </div>
              </div>
            </td>
            <td class="text-body-secondary">Updated on Mar 03, 2024</td>
            <td style="width: 0">
              <button class="btn btn-sm btn-light">Download</button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="avatar rounded text-primary">
                  <i class="fs-4" data-duoicon="id-card"></i>
                </div>
                <div class="ms-4">
                  <div class="fw-normal">receipt_456.pdf</div>
                  <div class="fs-sm text-body-secondary">2.1mb · PDF</div>
                </div>
              </div>
            </td>
            <td class="text-body-secondary">Uploaded on Mar 05, 2024</td>
            <td style="width: 0">
              <button class="btn btn-sm btn-light">Download</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>