<!-- Projects -->
<div class="card mb-6 mb-xxl-0">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="fs-6 mb-0">Featured Policies</h3>
      </div>
      <div class="col-auto my-n3 me-n3">
        <a class="btn btn-sm btn-link" href="#!">
          Browse all
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-flush align-middle mb-0">
      <thead>
        <th class="fs-sm">Title</th>
        <th class="fs-sm">Status</th>
        <th class="fs-sm">Author</th>
        <th class="fs-sm">Team</th>
      </thead>
      <tbody id="api-listing"></tbody>
    </table>
  </div>
</div>
<script>
  function getPolicies(){
    const options = {
        method: 'GET'
    };  
    fetch('{{ site.policiesApiBaseUrl }}/policies',options)
        .then(function(response) {
            if (!response.ok) {
                console.log('Error with Status Code: ' + response.status);
            }
            response.json().then(function(response) {   
              
              console.log(response);

              var html = '';

              for (let i = 0; i < response.data.length; i++) {
                if(response.data[i].aid){
                  var aid = response.data[i].aid;
                }
                else{
                  aid = common.slugify(response.data[i].name);
                }
                html += '<tr>';
                html += '<td>';
                html += '<div class="d-flex align-items-center">';
                html += '<div class="avatar">';
                html += '<img class="avatar-img" src="/assets/img/projects/project-1.png" alt="..." />';
                html += '</div>';
                html += '<div class="ms-4">';
                html += '<div><a href="/policies/details/?apiId=' + aid + '">' + response.data[i].name + '</a></div>';
                html += '<div class="fs-sm text-body-secondary">Updated on Apr 10, 2024</div>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
                html += '<td>';
                html += '<span class="badge bg-success-subtle text-success">Ready to Ship</span>';
                html += '</td>';
                html += '<td>';
                html += '<div class="d-flex align-items-center text-nowrap">';
                html += '<div class="avatar avatar-xs me-2">';
                html += '<img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />';
                html += '</div>';
                html += 'Michael Johnson';
                html += '</div>';
                html += '</td>';
                html += '<td>';
                html += '<div class="avatar-group">';
                html += '<div class="avatar avatar-xs">';
                html += '<img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />';
                html += '</div>';
                html += '<div class="avatar avatar-xs">';
                html += '<img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />';
                html += '</div>';
                html += '<div class="avatar avatar-xs">';
                html += '<img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />';
                html += '</div>';
                html += '<div class="avatar avatar-xs">';
                html += '<img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />';
                html += '</div>';
                html += '</div>';
                html += '</td>';
                html += '</tr>';
                }

              document.getElementById("api-listing").innerHTML = html;              

            });
          })
          .catch(function(err) {
              console.log('Error: ' + err);
      });  
  }

  getPolicies();

</script>