<div class="row align-items-center mb-7">
    <div class="col-auto">
        <!-- Avatar -->
        <div class="avatar avatar-xl rounded text-primary">
            <i class="fs-2" data-duoicon="clipboard"></i>
        </div>
    </div>
    <div class="col">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-2">
                <li class="breadcrumb-item"><a class="text-body-secondary" href="#">{{ page.section }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>
        <h1 class="fs-4 mb-0">{{ page.title }}</h1>
    </div>
    <div class="col-12 col-sm-auto mt-4 mt-sm-0">
        <a class="btn btn-secondary d-block" href="/contracts/new/"> <span class="material-symbols-outlined me-1">add</span> New
            Contract </a>
    </div>
</div>