<section class="mb-8">

  <!-- Contract Properties Listing Header -->
  <div class="row align-items-center justify-content-between mb-5">
    <div class="col">
      <h2 class="fs-5 mb-0">APIs.json Editor</h2>
    </div>
    <div class="col-auto">
      <a class="btn btn-light"> <span class="material-symbols-outlined text-body-secondary me-1">upload</span>
        Action </a>
    </div>
  </div>
  <!-- Contract Properties Listing Header -->

  <!-- Contract Properties Listing -->
  <div id="container" style="width: 100%; height: 600px; margin: 10px;"></div>
    
  <script>
    var require = { paths: { vs: '/assets/js/monaco-editor/min/vs' } };
  </script>
  <script src="/assets/js/monaco-editor/min/vs/loader.js"></script>
  <script src="/assets/js/monaco-editor/min/vs/editor/editor.main.js"></script>

  <script>
    var editor = monaco.editor.create(document.getElementById('container'), {
      value: [''].join('\n'),
      language: 'json'
    });
  </script>  
  <!-- Contract Properties Listing -->

</section>