<section class="mb-8">

    <!-- Contract API Listing Header -->
    <div class="row align-items-center justify-content-between mb-5">
      <div class="col">
        <h2 class="fs-5 mb-0">APIs</h2>
      </div>
      <div class="col-auto">
        <a class="btn btn-light"> <span class="material-symbols-outlined text-body-secondary me-1">upload</span>
          Action </a>
      </div>
    </div>
    <!-- Contract API Listing Header -->

    <!-- Contract API Listing -->
    <div class="table-responsive">
      <table class="table align-middle mb-0">
        <tbody id="contract-api-listing"></tbody>
      </table>
    </div>
    <!-- Contract API Listing -->

  </section>