<!-- Heading -->
<h3 class="fs-base fw-normal text-body-secondary mt-5">Team</h3>

<!-- Avatar group -->
<div class="avatar-group">
    <div class="avatar avatar-sm">
    <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
    </div>
    <div class="avatar avatar-sm">
    <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
    </div>
    <div class="avatar avatar-sm">
    <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
    </div>
    <div class="avatar avatar-sm">
    <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
    </div>
</div>