<section>
    <!-- Heading -->
    <h2 class="fs-5 mb-5">Activity</h2>

    <!-- Activity (form) -->
    <form class="mb-5">
      <div class="form-control mb-1" id="tiptapExample" data-placeholder="Enter your comment..."></div>
      <div class="text-end">
        <button class="btn btn-sm btn-link text-body-secondary">Clear</button>
        <button class="btn btn-sm btn-light">Send</button>
      </div>
    </form>

    <!-- Activity (items)  -->
    <div class="row gx-3 mb-4">
      <div class="col-auto">
        <!-- Avatar -->
        <div class="avatar">
          <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
        </div>
      </div>
      <div class="col">
        <!-- Card -->
        <div class="card bg-body-tertiary border-transparent mb-0">
          <div class="card-body p-4">
            <!-- Header -->
            <div class="row align-items-center mb-2">
              <div class="col">
                <!-- Heading -->
                <h6 class="fs-sm fw-normal text-body-secondary mb-0">Michael Johnson · 1d ago</h6>
              </div>
              <div class="col-auto">
                <!-- Dropdown -->
                <div class="dropdown">
                  <span class="material-symbols-outlined text-body-secondary" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">more_horiz</span>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Text -->
            <p class="mb-0">Just finished the design for the new filters. What do you think?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3 mb-4">
      <div class="col-auto">
        <!-- Avatar -->
        <div class="avatar">
          <img class="avatar-img" src="/assets/img/photos/photo-1.jpg" alt="..." />
        </div>
      </div>
      <div class="col">
        <!-- Card -->
        <div class="card bg-body-tertiary border-transparent mb-0">
          <div class="card-body p-4">
            <!-- Header -->
            <div class="row align-items-center mb-2">
              <div class="col">
                <!-- Heading -->
                <h6 class="fs-sm fw-normal text-body-secondary mb-0">Emily Thompson · 1d ago</h6>
              </div>
              <div class="col-auto">
                <!-- Dropdown -->
                <div class="dropdown">
                  <span class="material-symbols-outlined text-body-secondary" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">more_horiz</span>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Text -->
            <p class="mb-0">I think the new filters look great! I can't wait to see them in action.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3">
      <div class="col-auto">
        <!-- Avatar -->
        <div class="avatar">
          <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
        </div>
      </div>
      <div class="col">
        <!-- Card -->
        <div class="card bg-body-tertiary border-transparent mb-0">
          <div class="card-body p-4">
            <!-- Header -->
            <div class="row align-items-center mb-2">
              <div class="col">
                <!-- Heading -->
                <h6 class="fs-sm fw-normal text-body-secondary mb-0">Robert Garcia · 12m ago</h6>
              </div>
              <div class="col-auto">
                <!-- Dropdown -->
                <div class="dropdown">
                  <span class="material-symbols-outlined text-body-secondary" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">more_horiz</span>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Text -->
            <p class="mb-0">I agree with Emily. The new filters look amazing. Great job!</p>
          </div>
        </div>
      </div>
    </div>
  </section>