---
layout: default
section: Experiences
title: New Experiences
nav: Experiences
sub: All Experiences
---
<script>

  // PULL THESE INTO A MASTER FILE
  function splitPascalCase(word) {
        const camelCase = word.replace(/([a-z])([A-Z])/g, '$1 $2').split(" ");
  
        let flat = "";
  
        camelCase.forEach(word=>{    
            flat = flat + word.charAt(0).toUpperCase() + word.slice(1) + " "
        });
        return flat; 
    }
  
  function capitalizeFirstLetter(str) {
      return str.replace(/\w\S*/g, function(txt){
          return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      });
  }  
  
  function stripHTML(s){
    s = s.replace(/<[^>]*>?/gm, '');
    return s;
  }
  
    function loadExperienceChoices(){
  
      const select = document.getElementById("choices");
  
      var choices = new Choices(select,
      {
        allowHTML: true,
        itemSelectText: '',
        position: 'bottom',
        callbackOnCreateTemplates: function(strToEl, escapeForTemplate) {
          var classNames = this.config.classNames;
          var itemSelectText = this.config.itemSelectText;
          var allowHTML = this.config.allowHTML;
          return {
            item: function({ classNames }, data) {
              return strToEl(
                '\
            <div\
              class="' +
                  String(classNames.item) +
                  ' ' +
                  String(
                    data.highlighted
                      ? classNames.highlightedState
                      : classNames.itemSelectable
                  ) +
                  '"\
              data-item\
              role="option"\
              data-id="' +
                  String(data.id) +
                  '"\
              data-value="' +
                  String(escapeForTemplate(allowHTML, data.value)) +
                  '"\
              ' +
                  String(data.active ? 'aria-selected="true"' : '') +
                  '\
              ' +
                  String(data.disabled ? 'aria-disabled="true"' : '') +
                  '\
              >\
              <span class="material-symbols-outlined fs-6 text-success" style="padding: 0px 5px 0px 0px; margin: 0px 0px 0px 0px;">filter_list</span> ' +
                  String(escapeForTemplate(allowHTML, data.label)) +
                  '\
            </div>\
          '
              );
            },
            choice: function({ classNames }, data) {
              return strToEl(
                '\
            <div\
              class="' +
                  String(classNames.item) +
                  ' ' +
                  String(classNames.itemChoice) +
                  ' ' +
                  String(
                    data.disabled
                      ? classNames.itemDisabled
                      : classNames.itemSelectable
                  ) +
                  '"\
              data-select-text="' +
                  String(itemSelectText) +
                  '"\
              data-choice \
              ' +
                  String(
                    data.disabled
                      ? 'data-choice-disabled aria-disabled="true"'
                      : 'data-choice-selectable'
                  ) +
                  '\
              data-id="' +
                  String(data.id) +
                  '"\
              data-value="' +
                  String(escapeForTemplate(allowHTML, data.value)) +
                  '"\
              ' +
                  String(
                    data.groupId > 0 ? 'role="treeitem"' : 'role="option"'
                  ) +
                  '\
              >\
              <span class="material-symbols-outlined fs-6 text-success" style="padding: 0px 5px 0px 0px; margin: 0px 0px 0px 0px;">filter_list</span> ' +
                  String(escapeForTemplate(allowHTML, data.label)) +
                  '\
            </div>\
          '
              );
            },
          };
        },
      }
      );
  
      choices.passedElement.element.addEventListener(
        'addItem',
        function(event) {
          // do something creative here...
          //console.log(event.detail.id);
          //console.log(event.detail.value);
          //console.log(event.detail.label);
          //console.log(event.detail.customProperties);
        },
        false,
      );          
  
  
      var experience_choices = [{
        label: 'Experiences',
        disabled: false,
        choices: []
        }];
  
      var experiences = JSON.parse(document.getElementById("experiences-store").value);
  
      var e = {};
      e.value = 'All';
      e.label = 'All';
      e.selected = true;
      experience_choices[0].choices.push(e);
  
      for (let i = 0; i < experiences.length; i++) {
        e = {};
        e.value = experiences[i].name;
        e.label = experiences[i].name;
        e.selected = false;
        experience_choices[0].choices.push(e);              
      }
  
      choices.setChoices(experience_choices); 
  
      }  
  
    function getExperiences() {
      const options = {
        method: 'GET'
      };
      fetch('{{ site.experiencesApiBaseUrl }}/experiences?limit=1000', options)
        .then(function (response) {
          if (!response.ok) {
            console.log('Error with Status Code: ' + response.status);
          }
          response.json().then(function (response) {
  
            var experiences = response.data;
            document.getElementById("experiences-store").value = JSON.stringify(experiences);          
  
          });
        })
        .catch(function (err) {
          console.log('Error: ' + err);
        });
    }  
  
    function getPolicies() {
        const options = {
          method: 'GET'
        };
        fetch('{{ site.policiesApiBaseUrl }}/policies?limit=1000', options)
          .then(function (response) {
            if (!response.ok) {
              console.log('Error with Status Code: ' + response.status);
            }
            response.json().then(function (response) {
  
              var policies = response.data;
              document.getElementById("policies-store").value = JSON.stringify(policies);          
  
            });
          })
          .catch(function (err) {
            console.log('Error: ' + err);
          });
      }  
    
    function getRules() {
      const options = {
        method: 'GET'
      };
      fetch('{{ site.rulesApiBaseUrl }}/rules?limit=1000', options)
        .then(function (response) {
          if (!response.ok) {
            console.log('Error with Status Code: ' + response.status);
          }
          response.json().then(function (response) {
            
            var rules = response.data;
            document.getElementById("rules-store").value = JSON.stringify(rules);          
  
            loadExperienceChoices();
      
          });
        })
        .catch(function (err) {
          console.log('Error: ' + err);
        });
      }    
  
  // Load Governance
  getExperiences();
  getPolicies();
  getRules();
  
  </script>
<script>
  var experienceId = '{{ page.slug }}';
  console.log("experienceId:" + experienceId);
</script>

<div id="save-banner" class="alert alert-danger" role="alert" style="text-align: center; display: none;">
  You have made changes to the contract and will need to save.
</div>

<div id="commit-banner" class="alert alert-warning" role="alert" style="text-align: center; display: none;">
  Changes have been made to this contract and will need committing to repo.
</div>

<div id="data-store" style="border: 1px solid #000; display: none;">
  <input type="text" id="path" value="0">
  <input type="text" id="page_start" value="0">
  <input type="text" id="page_size" value="4">
  <textarea id="experiences-store" style="width: 100%; height: 350px;"></textarea>
  <textarea id="policies-store" style="width: 100%; height: 350px;"></textarea>
  <textarea id="rules-store" style="width: 100%; height: 350px;"></textarea>
  <textarea id="review-store" style="width: 100%; height: 350px;"></textarea>
  <textarea id="review-filter" style="width: 100%; height: 350px;">[]</textarea>
</div>

<div class="row gx-xl-9">

  <div class="col-12 col-xxl-4 order-xxl-1">

    <div class="position-sticky mb-8" style="top: 2rem">
      <div class="card bg-body">
        <div class="card-body py-4">
          <!-- List -->
          <ul class="list-group list-group-flush bg-body mb-0">
            
            <!--Begin Save Experience Button-->
            <div style="display: none; border: 0px #FFF;" id="save-button-wrapper">
              <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0" style="display: none; border-right: 0px #FFF; border-left: 0px #FFF; border-top: 0px #FFF;">
                <span class="text-body-secondary text-danger"><strong>Save Experience</strong></span>
                <button id="save-button" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#save-experience">SAVE</button>
              </li>  
            </div> 
            <!--End Save Experience Button-->

            <!--Begin Commit Experience Button-->
            <div style="display: none; border: 0px #FFF;" id="commit-button-wrapper">
              <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0" style="display: none; border-right: 0px #FFF; border-left: 0px #FFF; border-top: 0px #FFF;">
                <span class="text-body-secondary text-danger"><strong>Commit Experience</strong></span>
                <button id="commit-button" type="button" class="btn btn-danger btn-sm" onclick="commitExperience();">COMMIT</button>
              </li>  
            </div> 
            <!--End Commit Experience Button--> 

            <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
              <span class="text-body-secondary">Created</span>
              <time datetime="02/04/2024">02/04/2024</time>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
              <span class="text-body-secondary">Last Updated</span>
              <time datetime="10/04/2024">10/04/2024</time>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
              <span class="text-body-secondary">Status</span>
              <span class="badge bg-success-subtle text-success">Active</span>
            </li>

            <!--Begin Execute Review Button-->
            <div style="border: 0px #FFF;" id="review-button-wrapper">
              <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0" style="display: none; border-right: 0px #FFF; border-left: 0px #FFF; border-top: 0px #FFF;">
                <span class="text-body-secondary text-danger"><strong>Review</strong></span>
                <button id="review-button" type="button" class="btn btn-success btn-sm" onclick="executeReview();">EXECUTE</button>
              </li>  
            </div> 
            <!--End Execute Review Button-->    
            <!--Begin Just-in-Time Experience Guidance Kiosk-->
            <div style="border: 1px #000;">
              <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0" style="display: none; border-right: 1px #000; border-left: 0px #FFF; border-top: 0px #FFF;">
                <div style="width: 75%;">
                  <select style="width: 100%;" class="form-select" id="choices" onchange="filterReview();"></select> 
                </div>
                <div style="width: 25%;">               
                  <input style="padding: 0px; margin: 0px;" type="radio" class="btn-check" name="severity-info" id="severity-info" autocomplete="off" checked>
                  <label style="padding: 0px; margin: 0px;" class="btn btn-light btn-sm" for="severity-info"><span style="cursor:pointer; padding: 0px; margin: 0px;" class="material-symbols-outlined fs-6 text-success" onclick="" title="Info">check</span></label>
                  <input style="padding: 0px; margin: 0px;" type="radio" class="btn-check" name="severity-hint" id="severity-hint" autocomplete="off">
                  <label style="padding: 0px; margin: 0px;" class="btn btn-light btn-sm" for="severity-hint"><span style="cursor:pointer; padding: 0px; margin: 0px;" class="material-symbols-outlined fs-6 text-info" onclick="" title="Hint">reminder</span></label>                   
                  <input style="padding: 0px; margin: 0px;" type="radio" class="btn-check" name="severity-error" id="severity-error" autocomplete="off">
                  <label style="padding: 0px; margin: 0px;" class="btn btn-light btn-sm" for="severity-error"><span style="cursor:pointer; padding: 0px; margin: 0px;" class="material-symbols-outlined fs-6 text-danger" onclick="" title="Error">close</span></label>                   
                  <input style="padding: 0px; margin: 0px;" type="radio" class="btn-check" name="severity-warn" id="severity-warn" autocomplete="off">
                  <label style="padding: 0px; margin: 0px;" class="btn btn-light btn-sm" for="severity-warn"><span style="cursor:pointer; padding: 0px; margin: 0px;" class="material-symbols-outlined fs-6 text-warning" onclick="" title="Warn">warning</span></label>                                     
                </div>
              </li>                
            </div> 
            <!--End Just-in-Time Experience Guidance Kiosk-->           
            <div style="border: 0px #FFF; height: 280px; overflow: auto;" id="jit-guidance-wrapper"></div>
            <!--Begin Execute Review Button-->
            <div style="border: 0px #FFF;" id="review-button-wrapper">
              <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0" style="display: none; border-right: 0px #FFF; border-left: 0px #FFF; border-top: 0px #FFF;">
                <div style="width: 30%; border: 0px solid #000;"><button id="previous-review-button" type="button" class="btn btn-light btn-sm" onclick="previousReview();" style="float:left;">&#8592; Previous</button></div>
                <div align="center" id="pagination" style="width: 48%; text-align: center; border: 0px solid #000;"></div>
                <div style="width: 22%; border: 0px solid #000;"><button id="next-review-button" type="button" class="btn btn-light btn-sm" onclick="nextReview();" style="float:right;">Next &#8594;</button></div>
              </li>  
            </div> 
            <!--End Execute Review Button-->  

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">
  
          <!-- Heading -->
          <span style="float: right; cursor:pointer" class="material-symbols-outlined fs-1 text-success" data-bs-toggle="modal" data-bs-target="#edit-experience">edit_square</span>
          <h1 class="fs-3 mb-5" id="experience-name-header">{{ page.title }}</h1>
          <!-- Text -->
          <p id="experience-description-paragraph">{{ page.description }}</p>
  
        </div>
      </div>
    </section>

    <!-- Divider -->
    <hr class="my-8" />

    <script>
      var require = { paths: { vs: '/assets/js/monaco-editor/min/vs' } };
    </script>
    <script src="/assets/js/monaco-editor/min/vs/loader.js"></script>
    <script src="/assets/js/monaco-editor/min/vs/editor/editor.main.js"></script>
    
    
    <!-- Begin Experience Editor -->
    <section class="mb-8">

      <!-- Experience Editor Header -->
      <div class="row align-items-center justify-content-between mb-5">
        <div class="col">
          <h2 class="fs-5 mb-0">Experience Editor</h2>
        </div>
        <div class="col-auto"><!--NOTHING--></div>
      </div>
     <!-- Experience Editor Header -->
    
      <!-- Experience Editor Listing -->
      <a name="monaco"></a>
      <div id="experience-editor" style="width: 100%; height: 450px; margin: 10px;"></div>
      <script>
        var ExperienceEditor = monaco.editor.create(document.getElementById('experience-editor'), {
          value: [''].join('\n'),
          language: 'yaml'
        });

        ExperienceEditor.getModel().onDidChangeContent((event) => {
          if(event.isFlush){
            // Setting up
          }
          else{
            saveExperienceLocal(); 
          }
        });        
      </script>  
      <!-- Experience Properties Listing -->
    
    </section>   
    <!-- End Experience Editor -->      

    <section>
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h3 class="fs-base fw-normal text-body-secondary mt-5">Stakeholders</h3>

          <!-- Avatar group -->
          <div class="avatar-group">
              <div class="avatar avatar-sm">
              <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
              </div>
              <div class="avatar avatar-sm">
              <img class="avatar-img" src="/assets/img/photos/photo-3.jpg" alt="..." />
              </div>
              <div class="avatar avatar-sm">
              <img class="avatar-img" src="/assets/img/photos/photo-4.jpg" alt="..." />
              </div>
              <div class="avatar avatar-sm">
              <img class="avatar-img" src="/assets/img/photos/photo-5.jpg" alt="..." />
              </div>
          </div>
  
        </div>
      </div>
    </section>    

    <section>
      <!-- Heading -->
      <h2 class="fs-5 mb-5">Activity</h2>
  
      <!-- Activity (form) -->
      <form class="mb-5">
        <div class="form-control mb-1" id="tiptapExample" data-placeholder="Enter your comment..."></div>
        <div class="text-end">
          <button class="btn btn-sm btn-link text-body-secondary">Clear</button>
          <button class="btn btn-sm btn-light">Send</button>
        </div>
      </form>
  
      <!-- Activity (items)  -->
      <div class="row gx-3 mb-4">
        <div class="col-auto">
          <!-- Avatar -->
          <div class="avatar">
            <img class="avatar-img" src="/assets/img/photos/photo-2.jpg" alt="..." />
          </div>
        </div>
        <div class="col">
          <!-- Card -->
          <div class="card bg-body-tertiary border-transparent mb-0">
            <div class="card-body p-4">
              <!-- Header -->
              <div class="row align-items-center mb-2">
                <div class="col">
                  <!-- Heading -->
                  <h6 class="fs-sm fw-normal text-body-secondary mb-0">Michael Johnson · 1d ago</h6>
                </div>
                <div class="col-auto">
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <span class="material-symbols-outlined text-body-secondary" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">more_horiz</span>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
  
              <!-- Text -->
              <p class="mb-0">Just finished the design for the new filters. What do you think?</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<script>    

  function getExperience(){
    const options = {
        method: 'GET'
    };  
    fetch('{{ site.experiencesApiBaseUrl }}/experiences/' + experienceId,options)
        .then(function(response) {
            if (!response.ok) {
                console.log('Error with Status Code: ' + response.status);
            }
            response.json().then(function(response) {               

              var experience = JSON.parse(response.data.experience);
              
              document.getElementById("experience-name-header").innerHTML = response.data.name;
              document.getElementById("experience-description-paragraph").innerHTML = response.data.description;
            
              var experience_yaml = jsyaml.dump(experience);
              ExperienceEditor.setValue(experience_yaml);

              // Any changes?
              if(response.data.changes == 1){
                document.getElementById("commit-banner").style.display = '';
                document.getElementById("commit-button-wrapper").style.display = '';             
              }              


            });
          })
          .catch(function(err) {
              console.log('Error: ' + err);
      });  
  }

  getExperience();

</script>

<!-- MODALS -->

<!-- BEGIN EDIT Experience -->
<div class="modal" tabindex="-1" id="edit-experience">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Experience</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-8">
          <label for="experience-name" class="form-label">Name</label>
          <input type="text" class="form-control" id="experience-name">
        </div>
        <div class="mb-8">
          <label for="experience-description" class="form-label">Description</label>
          <textarea class="form-control" id="experience-description" rows="10"></textarea>
        </div>
        <center>
          <script>
            function stripHTMLFromDescription(){
              var description = document.getElementById("experience-description").value;
              description = stripHTML(description);
              document.getElementById("experience-description").value = description;
            }
          </script>
          <a style="float: right; cursor:pointer" class="material-symbols-outlined fs-1 text-success" href="#" onclick="stripHTMLFromDescription();">code_off</a>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveExperienceLocalModel();" data-bs-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END EDIT AI -->

<!-- BEGIN EDIT Experience - SAVE CHANGES -->
<div class="modal" tabindex="-1" id="save-experience">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Experience - Save Changes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-8">
          <label for="experience-name" class="form-label">Summary of Changes</label>
          <input type="text" class="form-control" id="experience-changes-name">
        </div>
        <div class="mb-8">
          <label for="experience-description" class="form-label">More Details</label>
          <textarea class="form-control" id="experience-changes-description" rows="10"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveExperience();" data-bs-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END EDIT Experience - SAVE CHANGES -->

<!-- MODALS -->

<script>
  // Edit Experience Icon Click
  const editExperience = document.getElementById('edit-experience');
  editExperience.addEventListener('shown.bs.modal', () => {
    document.getElementById("experience-name").value = document.getElementById("experience-name-header").innerHTML;
    document.getElementById("experience-description").value = document.getElementById("experience-description-paragraph").innerHTML;
  });
  
  function saveExperienceLocalModel(){

    var experienceName = document.getElementById("experience-name").value;
    var experienceDescription = document.getElementById("experience-description").value;

    var experience_yaml = ExperienceEditor.getValue();
    var experience = jsyaml.load(experience_yaml);

    experience.name = experienceName;
    experience.description = experienceDescription;

    //experience_yaml = jsyaml.dump(experience);  
    //ExperienceEditor.setValue(experience_yaml);   
    
    saveExperienceLocal();

  }

  // Edit Experience Modal Save
  function saveExperienceLocal(){
  
    var experience_yaml = ExperienceEditor.getValue();
    var experience = jsyaml.load(experience_yaml);
  
    var experienceName = experience.name
    var experienceDescription = experience.description;

    // Update Experience
    document.getElementById("experience-name-header").innerHTML = experienceName;
    document.getElementById("experience-description-paragraph").innerHTML = experienceDescription;
    
    //experience_yaml = jsyaml.dump(experience);  
    //ExperienceEditor.setValue(experience_yaml);  
  
    document.getElementById("save-banner").style.display = '';
    document.getElementById("save-button-wrapper").style.display = '';
  
    document.getElementById("commit-banner").style.display = 'none';
    document.getElementById("commit-button-wrapper").style.display = 'none'; 
  
  }
  
  function saveExperience(){

    var organization = "api-evangelist";
  
    var changes_name = document.getElementById("experience-changes-name").value;
    var changes_description = document.getElementById("experience-changes-description").value;
  
    var experience_yaml = ExperienceEditor.getValue();
    var experience_json = jsyaml.load(experience_yaml);    
  
    const options = {
      method: 'put',
      headers: {
          "Content-Type": "application/json"                 
      },    
      body: JSON.stringify(experience_json)
    };
    var github_url = '{{ site.experiencesApiBaseUrl }}/experiences/' + experienceId + '?organization=' + organization + '&name=' + changes_name + '&description=' + changes_description;
    //console.log(github_url);
    fetch(github_url, options)
      .then(function (response) {
        if (!response.ok) {
          console.log('Error with Status Code: ' + response.status);
        }
        response.json().then(function (response) {
  
          //console.log(response);
  
          // Save Experience too
          saveExperience();
  
        });
      })
      .catch(function (err) {
        console.log('Error: ' + err);
      });
  
      document.getElementById("save-banner").style.display = 'none';
      document.getElementById("save-button-wrapper").style.display = 'none';    
  
      document.getElementById("commit-banner").style.display = '';
      document.getElementById("commit-button-wrapper").style.display = '';   
  
  }

  // Edit Experience Modal Save
  function saveExperienceLocal(){
  
    var experience_yaml = ExperienceEditor.getValue();
    var experience = jsyaml.load(experience_yaml);

    // Update Experience
    var experienceName = experience.name;
    var experienceDescription = experience.description; 
    var experience_yaml = ExperienceEditor.getValue();
    var experience = jsyaml.load(experience_yaml);  
    experience.name = experienceName;
    experience.description = experienceDescription;
    document.getElementById("experience-name-header").innerHTML = experienceName;
    document.getElementById("experience-description-paragraph").innerHTML = experienceDescription;
    experience_yaml = jsyaml.dump(experience);  
    ExperienceEditor.setValue(experience_yaml);    

    document.getElementById("save-banner").style.display = '';
    document.getElementById("save-button-wrapper").style.display = '';

    document.getElementById("commit-banner").style.display = 'none';
    document.getElementById("commit-button-wrapper").style.display = 'none'; 

  }

  function saveExperience(){

    var organization = "api-evangelist";

    var changes_name = "Saving Experience with Experience"
    var changes_description = document.getElementById("experience-changes-description").value;

    var experience_yaml = ExperienceEditor.getValue();
    var experience = jsyaml.load(experience_yaml);    

    const options = {
      method: 'put',
      headers: {
          "Content-Type": "application/json"                 
      },    
      body: JSON.stringify(experience)
    };
    var github_url = '{{ site.experiencesApiBaseUrl }}/experiences/' + experienceId + '?organization=' + organization + '&name=' + changes_name + '&description=' + changes_description;
    console.log(github_url);
    fetch(github_url, options)
      .then(function (response) {
        if (!response.ok) {
          console.log('Error with Status Code: ' + response.status);
        }
        response.json().then(function (response) {

          //console.log(response);

          // What needs to happen?

        });
      })
      .catch(function (err) {
        console.log('Error: ' + err);
      });

      document.getElementById("save-banner").style.display = 'none';
      document.getElementById("save-button-wrapper").style.display = 'none';    

      document.getElementById("commit-banner").style.display = '';
      document.getElementById("commit-button-wrapper").style.display = '';   

  }

function commitExperience(){
  
  var organization = "api-evangelist";

  const options = {
    method: 'put',
    headers: {
        "Content-Type": "application/json"                 
    }
  };

  var github_url = '{{ site.experiencesApiBaseUrl }}/experiences/' + experienceId + '/commit?organization=' + organization;
  console.log(github_url);
  fetch(github_url, options)
    .then(function (response) {
      if (!response.ok) {
        console.log('Error with Status Code: ' + response.status);
      }
      response.json().then(function (response) {

        //console.log(response);

        if(response.data.file){
          commitExperience();
        }
        else{
          document.getElementById("commit-banner").style.display = 'none';
          document.getElementById("commit-button-wrapper").style.display = 'none';  
        }         

      });
    })
    .catch(function (err) {
      console.log('Error: ' + err);
    });

}

  function executeReview(){

    var path = document.getElementById("path").value;
  
    var organization = "api-evangelist";
  
    var experiences_json_yaml = ExperienceEditor.getValue();
    var experiences_json = jsyaml.load(experiences_json_yaml);
  
    const options = {
      method: 'put',
      headers: {
            "Content-Type": "application/json"                 
        },    
        body: JSON.stringify(experiences_json)
    };
  
    var github_url = '{{ site.experiencesApiBaseUrl }}/experiences/' + experienceId + '/review?organization=' + organization;
    //console.log(github_url);
    fetch(github_url, options)
      .then(function (response) {
        if (!response.ok) {
          console.log('Error with Status Code: ' + response.status);
        }
        response.json().then(function (response) {
  
          document.getElementById("review-store").value = JSON.stringify(response.results);   
  
          // Show Review
          var listing = displayReview();
  
          document.getElementById("jit-guidance-wrapper").innerHTML = listing;
  
  
        });
      })
      .catch(function (err) {
        console.log('Error: ' + err);
      });
  }
  
  function previousReview(){
    
    var page_start = document.getElementById("page_start").value;
    page_start = page_start - 0;
  
    page_start = page_start - 3;
  
    document.getElementById("page_start").value = page_start;
  
    var listing = displayReview();
  
    document.getElementById("jit-guidance-wrapper").innerHTML = listing;
  
  }
  
  function nextReview(){
  
    var page_start = document.getElementById("page_start").value;
    page_start = page_start - 0;
  
    page_start = page_start + 3;
  
    document.getElementById("page_start").value = page_start;
    
    var listing = displayReview();
  
    document.getElementById("jit-guidance-wrapper").innerHTML = listing;
    
  }
  
  function filterReview(){
   
    var filter_by = document.getElementById("choices").value;
  
    var experiences = JSON.parse(document.getElementById("experiences-store").value);
    var experiences = JSON.parse(document.getElementById("experiences-store").value);
  
    var filter_experiences = [];
  
    for (let i = 0; i < experiences.length; i++) {
      if(experiences[i].name == filter_by){          
  
        for (let j = 0; j < experiences.length; j++) {
  
          var experience_match_1 = 0;
          var top_experience = JSON.parse(experiences[j].experience);
          if(top_experience.experiences){
            for (let n = 0; n < top_experience.experiences.length; n++) {
              if(top_experience.experiences[n] == filter_by){
                experience_match_1 = 1;
              }
            }
          }        
  
          if(experience_match_1 == 1){
              
            var experience_name = experiences[j].name;
            var experience = JSON.parse(experiences[j].experience);          
            var experience_slug = experiences[j].slug; 
  
            if(experience.experiences){
  
              for (let k = 0; k < experience.experiences.length; k++) {
  
                  if(experience.experiences[k] == experiences[i].name){
            
                    // Go through Experiences
                    if(experience.experiences){
                      for (let l = 0; l < experience.experiences.length; l++) {
                        filter_experiences.push(experience.experiences[l]);
                      }
                    }
  
                    // Go through Experiences
                    if(experience.experiences){
                    for (let l = 0; l < experience.experiences.length; l++) {
                      for (let m = 0; m < experiences.length; m++) {
                        if(experience.experiences[l] == experiences[m].slug){
  
                          // CHECK EXPERIENCE MATCH
                          var experience_match = 0;
                          if(experiences[m].experiences){
                            for (let n = 0; n < experiences[m].experiences.length; n++) {
                              if(experiences[m].experiences[n] == filter_by){
                                experience_match = 1;
                              }
                            }
                          }
  
                          // IF MATCH GO THROUGH RULES
                          if(experience_match == 1){
                            if(experiences[m].experiences){            
                              for (let n = 0; n < experiences[m].experiences.length; n++) {
                                filter_experiences.push(experiences[m].experiences[n]);
                              }
                            }
                          }
                        }
                      }
                    }                    
                  }
                }
              }
            }
          }            
        }  
      }               
    }
  
    //console.log(filter_experiences);
  
    document.getElementById("review-filter").value = JSON.stringify(filter_experiences);
  
    var listing = displayReview();
  
    document.getElementById("jit-guidance-wrapper").innerHTML = listing;    
  
  }
  
  function displayReview(){
  
    // Apply Filter 
  
    var page_start = document.getElementById("page_start").value;
    page_start = page_start - 0;
    //console.log("page_start: " + page_start);
    var page_size = document.getElementById("page_size").value;
    page_size = page_size - 0;
    var page_end = page_start + page_size;
  
    var review = JSON.parse(document.getElementById("review-store").value);
    var review_filter = JSON.parse(document.getElementById("review-filter").value);
  
    // BEGIN FILTERING
    var filtered_review = [];
    if(review_filter.length > 0){
      for (let i = 0; i < review.length; i++) {
        var include_this = 0;
        for (let j = 0; j < review_filter.length; j++) {
          //console.log(review_filter[j] + '==' + review[i].code);
          if(review_filter[j] == review[i].code){
            filtered_review.push(review[i]);
          }
        }
      }
    }
  
    if(filtered_review.length > 0){
      review = filtered_review;
    }
    // END FILTERING
    
    var review_length = review.length;
  
    var number_of_pages = review_length/page_size;
    number_of_pages = Math.round(number_of_pages);
    var this_page = page_start / page_size;
    this_page = Math.round(this_page);
  
    if(this_page == 0){
      document.getElementById("previous-review-button").style.display = 'none';
    }
    else{
      document.getElementById("previous-review-button").style.display = '';
    }
  
    if(this_page == number_of_pages){
      document.getElementById("next-review-button").style.display = 'none';
    }
    else{
      document.getElementById("next-review-button").style.display = '';
    }  
  
    document.getElementById("pagination").innerHTML = this_page + " of " + number_of_pages + " pages";
  
    var show_review = review;
  
    var listing = '';
    for (let i = 0; i < show_review.length; i++) {
  
      if(i >= page_start && i < page_start + page_size){
      
        //console.log(show_review[i]);      
  
        var severity = show_review[i].severity;
        var code = show_review[i].code;
        var message = show_review[i].message;
        var start = show_review[i].range.start.line;
        var end = show_review[i].range.end.line; 
        listing += '<li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0" style="display: none; border-right: 0px #FFF; border-left: 0px #FFF; border-top: 0px #FFF;">';
        listing += '<div style="float: left; width: 5%; border: 0px solid #000;">';
        if(severity == 1){
          listing += '<span style="cursor:pointer" class="material-symbols-outlined fs-4 text-danger" onclick="referenceLine(' + start +');" title="Jump to Line in Editor">close</span>';
        }
        else{
          listing += '<span style="cursor:pointer" class="material-symbols-outlined fs-4 text-success" onclick="referenceLine(' + start +');" title="View Guidance">check</span>';   
        }
        listing += '</div>';            
        listing += '<div style="text-align: left; float: left; width: 60%; border: 0px solid #000;">' + message + '</div>';
        listing += '<div style="float: right; margin-right: 10px;">';
        listing += '<span style="cursor:pointer" class="material-symbols-outlined fs-4 text-primary" onclick="referenceLine(' + start +');" title="Jump to Line in Editor">numbers</span>';
        listing += '<span style="cursor:pointer" class="material-symbols-outlined fs-4 text-success" onclick="viewGuidance(' + "'" + code + "'" + ');" title="View Guidance" data-bs-toggle="modal" data-bs-target="#view-guidance">info</span>';
        listing += '<span style="cursor:pointer" class="material-symbols-outlined fs-4 text-dark" onclick="viewExperience(' + "'" + code + "'" + ');" title="View Experience" data-bs-toggle="modal" data-bs-target="#view-experience">experience</span>';
        listing += '<span style="cursor:pointer" class="material-symbols-outlined fs-4 text-dark" onclick="viewExperience(' + "'" + code + "'" + ');" title="View Experience" data-bs-toggle="modal" data-bs-target="#view-experience">experience</span>';          
        listing += '</div>';
        listing += '</li>'
        }
      }
  
    return listing;
  }
  
  function viewExperience(slug){
    document.getElementById("experience-name").value = slug;
  }
  
  function viewExperience(slug){
    document.getElementById("experience-name").value = slug;
  }
  
  function viewGuidance(slug){
    document.getElementById("guidance-name").value = slug;
  }
  
  function referenceLine(start){
    
    //console.log("ref:" + start);
    ExperienceEditor.focus();
    ExperienceEditor.revealLine(start);
    ExperienceEditor.setPosition({lineNumber: start, column: 0 });  
    location.href = '#monaco';
  
  }
  </script>